/* header */
.view {
    background: url("../image/background.jpg")no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
    height: 100%;
    overflow-x: hidden;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* header */